# Игнорируем всякий хлам.
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env


#Эти файлы нужны только мне :-)
./__help.txt
./__index.php
